body {
	background-color: black !important;
	font-family: 'Space Mono', monospace;
}
/*top space*/
.topSpace {
	height:300px !important;
}

/*logo*/
.logo {
	background-color: red;
	/*background-color: #64A19A;*/
    color: white;
    height: 1.3em;
    font-size: 3em;
    padding: 3px;
}
#para1 {
	color:white;
	/*font-size: 1.8em;*/
}

.clock {
	color:white;
	height:1.3em;
	font-size: 1.8em;
	padding: 3px;
}

.mainText {
	background-color: black;
	color:white;
	height:1.3em;
	font-size: 1em;
	padding: 5px;
	margin-top: 20px;
}
.mainTextP:hover{
	background-color: red;
	/*color:white;*/
	/*padding:5px;*/
	
}

@media only screen and (max-width: 500px) {
    .topSpace {
    	height:25vh !important;
    }
    .logo {
		background-color: red;
	    color: white;
	    /*height: 1.3em;*/
	    font-size: 1.8em;
	    padding: 3px;
	}
	.clock {
		color:white;
		height:1.3em;
		font-size: .7em;
		padding: 12px;
	}
	.mainText {
		margin-top: 5px;
		font-size: 1em;
		
	}
